@charset "EUC-KR";

:root{
    --text-color : #f0f4f5;
    --background-color : rgb(47, 47, 47);
    --accent-color : #d49466;
}


body{
    margin: 0;
    font-family: 'NanumSquareBold';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color : var(--text-color);
}

.register{
    margin-left: 20px;
    position: relative;
    z-index: -1;
}

span br::before{
    color:#f0f4f5;
}

.register::before{
    position: absolute;
    left: -13%;
    top: 85%;
    margin-top: -13px;
    width: 1px;
    height: 15px;
    background-color: gray;
    content: "";
}
.borderline{
    border-bottom: 1px solid gray;
    padding: 5px 5px 10px 5px;
}

#header_navi > li {
    display: inline-block;
    position: relative;
  }

  #header_navi > li > a {
    display:block; position:relative; padding-bottom:60px;
  }
  #header_navi > li > a > span {
    position:absolute; 
    bottom:0; 
    left:50%; 
    color:#f0f4f5; 
    line-height:1.462em;
     white-space:nowrap;
     transform:translate(-50%, 0)
  }

  .textarea {
    width: 80%;
    height: 50px;
    border : none;
    resize: none;
    background-color:  rgb(36, 35, 35);
    border-bottom: 1px solid gray;
    color : var(--text-color);
  }

  .textarea:focus {
    outline: none;
    border-bottom: 1px solid #f0f4f5;
}
.comment{
    background-color: rgb(64, 64, 64);
    color : #f0f4f5;
    padding: 10px;
    position: absolute;
    top: 74px;
    right: 12%;
    border: none;
    cursor: pointer;
}

.textline{
   position: relative;
}

.font{
    color : gray;
}
